.TODOTASK-IMG{
    width:150px;
    height:50px;
    border-radius: 75px;
}
.Login-img{
    width:100px;
    height:50px;
    border-radius: 50px;
}
.LogOut-img{
    width:100px;
    height:50px;
    border-radius: 50px;
}


.signUpForm{
    display: flex;
    justify-content: center ;
    height: 100vh;
    align-items: center;
    background-image: url("https://static8.depositphotos.com/1106005/879/i/450/depositphotos_8790985-stock-photo-making-your-to-do-list.jpg");
    
}
.form{
    border: 1px solid black;
    padding: 10px 40px;
    background-color:burlywood;
    box-shadow:50px 50px 100px rgb(0, 0, 0) 
}
input{
    padding: 5px;
    margin: 5px 0px;
}
.SignUpBtn{
    display: flex;
    justify-content: center;
}
.signBtn{
    width :150px;
    margin-top: 10px;
    color: aquamarine;
}


/*  Login Form */


.Logincontainer{
    display: flex;
    justify-content: center ;
    height: 100vh;
    align-items: center;
    background-image: url("https://cdn.vectorstock.com/i/1000v/88/53/doodle-checklist-set-to-do-task-list-vector-40428853.avif");
}
.Loginform{
    border: 1px solid black;
    padding: 40px;
    background-color:lemonchiffon;
    box-shadow:50px 50px 100px rgb(0, 0, 0) 
}
input{
    padding: 5px;
    margin: 5px 0px;
}
.Login-btn{
    display: flex;
    justify-content: center;
}



/* Add to task Button */

#input{
    margin-top: 40px;
    margin-bottom:100px;
}
#inputFields{
    width:400px;
    position: fixed;
   
    
}
.Inner-Container{
    display: block;
    border: 1px solid black;
}

.UpdateInput{
      width: 100px;
      height: 30px;
}


/*  header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    z-index: 1000;
    background-color: black;
    /*background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQLhy30t7JfgGVmmrdbUI40yx3P1kJD3-mQfeytVlO4cayAl0kg");*/
    background-size: 100px 100px;
    
}
  
  .content {
    margin-top: 70px;
  }

  .Main-Div{
    width: 100%;
    background-image: url("https://wallpapers.com/images/hd/dark-brown-background-2560-x-1600-tjqa92ns5bymsoto.jpg");
    height: 100vh;
    margin-top: 50px;
}
.GetTask-Inner-Container{
    background-image: url("https://i.pinimg.com/originals/9f/14/6b/9f146b598a117df287b768e9de208e15.jpg");
    box-shadow:50px 50px 100px rgb(0, 0, 0) ;
    background-repeat: no-repeat;
    border: 1px solid black;
    
}







